{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <h2 class="mb-4">{{ title }}</h2>
        <p>Insira a URL do seu site para gerar um arquivo `sitemap.xml` que pode ser usado para ajudar motores de busca a indexar suas páginas.</p>

        <div class="alert alert-info" role="alert">
            Este recurso é exclusivo do plano PRO. O sitemap gerado incluirá a página inicial e os links internos encontrados a partir dela.
        </div>

        <form method="POST" action="{{ url_for('pro.sitemap_generator') }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group mb-3">
                    {{ form.url.label(class="form-control-label") }}
                    {% if form.url.errors %}
                        {{ form.url(class="form-control form-control-lg is-invalid", placeholder="https://www.seusite.com") }}
                        <div class="invalid-feedback">
                            {% for error in form.url.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.url(class="form-control form-control-lg", placeholder="https://www.seusite.com") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock content %}