{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <h1 class="mb-4">Termos de Uso e Serviço</h1>
        <p class="lead">Bem-vindo ao Analisador PRO. Ao utilizar os nossos serviços, você concorda com os seguintes termos e condições.</p>

        <h4 class="mt-4">1. Uso da Ferramenta</h4>
        <p>A nossa ferramenta destina-se a fornecer análises de SEO, segurança e performance de websites. Você concorda em usar os nossos serviços de forma legal e ética, sem tentar sobrecarregar os nossos servidores ou realizar atividades maliciosas.</p>

        <h4 class="mt-4">2. Contas de Utilizador</h4>
        <p>Você é responsável por manter a segurança da sua conta e palavra-passe. A nossa aplicação não se responsabiliza por perdas ou danos resultantes da sua falha em proteger as suas informações de login.</p>

        <h4 class="mt-4">3. Limitação de Responsabilidade</h4>
        <p>As informações fornecidas pela nossa ferramenta são para fins informativos. Embora nos esforcemos pela precisão, não garantimos que os resultados sejam 100% corretos ou completos. As decisões tomadas com base nos nossos relatórios são da sua inteira responsabilidade.</p>

        <p class="mt-5 text-muted"><small><strong>Aviso:</strong> estes sao os termos de Uso.</small></p>
    </div>
{% endblock content %}